
a:hover {
    cursor: default;
    text-decoration: none;
  }
  

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    
    }
    .header{ 
    background-color:#181818;
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

html, body {
    background: #1a1f25;
    font-family: 'Roboto', sans-serif;
  }



  .flex_shop{
    position: relative;
    display: flex;
    justify-content: center;
    
  }


.footer{
    background-color: #181818;
    position: relative;
    top: 185px

}


.join_steam{
    border-radius: 1px;
    background-color: initial;
    color: white;
}

.footer-flex{
    position: relative;
    display: flex;
    justify-content: space-evenly;;
    color: white;
   
}




.foot-text{
    position: relative;
    bottom: -40px;
}
.line{
    height: 2px;
    width: 1903px;
    position: relative;
    background-color: rgb(129, 129, 129);
    margin-top: 15px;

}

.flex-img{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}

.footer_flex{
    position: relative;
    display: flex;
    justify-content: space-evenly;;
    color: white;
    margin-top: 13px;
}

* {
    box-sizing: border-box;
 }
 .product-item {
    position: relative;
    display: grid;
     bottom: -80px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
 }
 .product-item:hover {
    border-bottom: 2px solid #fc5a5a;
 }
 .product-item img {
    display: grid;
    width: 100%;
 }
 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
 }
 .price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }
 .product-item:hover .button {
    background: #fc5a5a;
 }

 